@page
@model Compliance.Pages.CompTool.ToolStartModel
@{
    ViewData["Title"] = "ToolStart";
    Layout = "~/Pages/_Layout.cshtml";
}
<h2>DFARS Compliance Assessment Tool</h2>
<div class="row">   
    <div class="col-lg-12">
        <h3>What is it?</h3>
        <ul>
            <li>A way to compare your businesses practices against current NIST/DFARS compliance</li>
            <li>An application to track your previous, present, and future compliance</li>

        </ul>
        <h3>Why use it?</h3>
        <ul>
            <li>To easily generate a PO&AM for your officer</li>
            <li>I'm sure you can provide more details, Jana and Chrissy</li>
        </ul>
    </div>
    @*<div class="btn" id="btnToolStart" data-target="Questionnaire">Begin Here</div>*@
</div>